<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohmovie.mapper.ReviewMapper">
	 	 
	 <select id="readReviews" resultType="ReviewVO">
		SELECT * FROM review WHERE u_idx = #{uIdx}
	 </select>
	 
	 <select id="itemReview" resultType="ContentDTO">
	 	SELECT mem.u_idx, mem.u_name, re.m_idx, re.r_content, re.watchdate, re.liked 
	 	FROM member mem
	 	LEFT OUTER JOIN review re 
	 	ON mem.u_idx = re.u_idx 
	 	WHERE re.m_idx = #{mIdx}
	 	LIMIT 3
	 </select>
	 
	 <insert id="insertReview">
	 	INSERT INTO review (u_idx, m_idx, r_content) 
	 	VALUES (#{uIdx}, #{mIdx}, #{rContent});
	 </insert>
	 
 	 <select id="readReview" resultType="ContentDTO">
	 	SELECT mem.u_idx, mem.u_name, re.r_content, re.watchdate, re.liked 
	 	FROM member mem
	 	LEFT OUTER JOIN review re 
	 	ON mem.u_idx = re.u_idx 
		WHERE re.u_idx = #{uIdx}
    	AND re.m_idx = #{mIdx}
	 </select>
	 
	 <delete id="deleteReview">
	 	delete from review where u_idx = #{rIdx} and m_idx = #{mIdx}
	 </delete>
	 
	 <update id="updateReview">
	 	update review set r_content = #{rContent}, updatedate = now() 
	 	where u_idx = #{rIdx} and m_idx = #{mIdx}
	 </update>
</mapper>