<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohmovie.mapper.ReviewMapper">
	 	 
	 <select id="readReview" resultType="ReviewVO">
		select * from review where u_idx = #{uIdx}
	 </select>
	
	 <insert id="insertReview">
	 	insert into review (u_idx, m_idx, r_content) values (#{uIdx}, #{mIdx}, #{rContent});
	 </insert>
	 
</mapper>